# Frontend URL
FRONTEND_URL=YOUR_FRONTEND_URL

# Database and Redis configuration
DATABASE_URL=YOUR_DATABASE_URL
REDIS_URL=YOUR_REDIS_URL

# JWT configuration
JWT_ACCESS_SECRET=YOUR_JWT_ACCESS_SECRET
JWT_ACCESS_TTL=YOUR_JWT_ACCESS_TIME_EXPIRATION
JWT_REFRESH_SECRET=YOUR_JWT_REFRESH_SECRET
JWT_REFRESH_TTL=YOUR_JWT_REFRESH_TIME_EXPIRATION

# Discord OAuth configuration
DISCORD_CLIENT_ID=YOUR_DISCORD_CLIENT_ID
DISCORD_CLIENT_SECRET=YOUR_DISCORD_CLIENT_SECRET
DISCORD_CALLBACK_URL=YOUR_DISCORD_CALLBACK_URL
